<h1>Edit Note</h1>
<h3>Title: <%= @note[:title] %></h3>
<h3>Author: <%= @note[:author] %></h3>
<%= form_for @note do |f| %>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.submit %>
<% end %>
</br>
<%= link_to 'Back', notes_path %>